<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{.Title.String}}</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/iosevka.css" />
    <link rel="stylesheet" type="text/css" href="css/booklit.css" />
    <link rel="stylesheet" type="text/css" href="css/highlight.css" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,400i,700|Roboto+Slab:300,400,700" rel="stylesheet" />
  </head>
  <body>
    <div class="side">
      {{template "sidebar.tmpl" .}}
    </div>
    <div class="page{{if not .Parent}} top{{end}}">
      {{. | render}}
    </div>
  </body>
</html>
